POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

# AI Bot
AI_BOT_CLIENT_SECRET=
OPENAI_API_KEY=
OPENAI_BASE_URL=
LLM_MODEL=