go 1.26.2

use (
	./services/api/gateway
	./services/api/ws-gateway
	./services/internal/auth
	./services/internal/bot
	./services/internal/conversation
	./services/internal/message
	./services/internal/oss
	./services/internal/social
	./services/internal/user
	./services/thirdparty/ai-bot
)
